body{
    height: auto;
    width: 100%;
    background-image: url("pocket_ball.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

#container{
    margin:auto
}

#pokes-container {
    margin:auto;
    width: 90%;
    padding: 20px;
    border-radius: 10%;
    
}

#onePokemonCard{
    background-color:white;
    border: 1px solid rgb(102, 134, 183);
    padding: 30px;
    margin: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.5s ease-in-out;
}

#onePokemonCard:hover{
    cursor: pointer;
  transform:translateY(-10px);
}

h3{
    background-color:white;
    text-align: center;

}

p{
    margin-bottom:0;
    margin-top: 10px;
    text-decoration: underline;

}

ul{
    background-color: white;
    margin:0;
    
}



#titleLogo{
    /* warum muss ich die 3 Werte schreiben damit Bild in der Mitte ist? */
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 200px;
    margin-top: 50px;

    
}

#imagePok{
    
    width:100px;
    height: 100px;
   /*object-fit:cover;*/
   
}

.search{
    position: relative;   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}


#myInput{
    
    display:block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    font-size: 19px;
    border: 2px solid blue;
    border-radius:20px;
    width:700px;
    height: 40px;
    
    padding-left: 10px; /* damit der 'placeholder' Inhalt etwas links Abstand hat */
    
}
#icon{
    
   position:absolute;   
    top:0;
    margin-left: 570px;
    z-index: 2;
    height: 35px;
    background-color: transparent; 
    border:none;
   
}

#trash{
    position:absolute;
    top: 0.8em;
    margin-left:640px;
    z-index:2;
    background-color: transparent;
    border:none;
}

@media only screen and (max-width: 600px){
    #icon{
        
            color: red;
            right:50px;
    }

} 


